
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
:root {
    --main-color:#033a88;
    --text-color:#0f0c27;
    --bg-color:#fff;
    --hover-color:#5805ff;
    --bg-font:3.2rem;
    --medium-font:1.8rem;
    --p-font:0.941rem;
}
body {
    color: var(--text-color);
    background-color: var(--bg-color);
}
header {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    padding: 13px 10%;
    border-bottom: 10px solid white;
    box-shadow:10px 10px 10px wheat;
    z-index: 1000;
}
.logo {
    font-weight: 600;
    font-size: 1.61rem;
    color: var(--text-color);
}
.navbar {
    display: flex;
    align-items: center;
}
.navbar a {
    font: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.navbar a:hover {
    color: var(--hover-color);
}
.navbar i:hover {
    color: var(--hover-color);
}
.logo:hover {
    color: var(--hover-color);
}
/* .home{
    padding: 150px 10%;
} */
.home {
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    gap: 3rem;
    width: 100%;
    padding-top: 150px;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
}
.social{
    display:flex;
    flex-direction: column;
}
.social a {
    margin-bottom: 1rem;
    font-size: 22px;
    color: var(--text-color);
}
.social a:hover {
    color: var(--hover-color);
}
.home-text span {
    font-size: var(--medium-font);
    font-weight: 500;
}
.home-text h1 {
    font-size: var(--bg-font);
    /* font-weight: 500;  */
} 

.home-text h2 {
    font-size: 1.1rem;
    font-weight: 400;
}
.home-text p {
    font-style: var(--p-font);
    margin: 0.7rem 0.1rem;
    font-weight: 400;
    text-align: justify;
}
.home-img img {
    width: 100%;
}
.btn {
    /* color: var(--hover-color); */
    /* margin-top: 10px; */
    padding: 0.7rem 1.3rem;
    border-radius: 0.5rem;
    color: #fff;
    background-color: var(--hover-color);
}
.about{
    padding-left: 10%;
    padding-right: 10%;
}
.heading {
    text-align: center;
}
.heading span {
    color: #02a646;
}
.heading h2 {
    font-size: 30px;
}
.about-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin-top: 2rem;
}
.about-text p {
    text-align: justify;
    font-weight: 400;
    font-size: var(--p-font);
}
.about-img img{
    width: 80%;
    border-radius: 0.5rem;
}
.information{
    margin: 1rem 0.2rem;
}
.information .info{
    margin-bottom: 1rem;
    font-size: var(--p-font);
}
.info span{
    margin-left: 1rem;
    font-weight:400;
}
.info a{
    margin-left: 1rem;
    font-weight: 400;
}
.btn:hover{
    background-color: whitesmoke;
    color: var(--text-color);
}
.skills{
    padding-left: 10%;
    padding-right: 10%;
}
.skills-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 2rem;
    align-items: center;
    gap: 4rem;
}
skills-img img{
    width: 80%;
}
.bar-box{
    position: relative;
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.light-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.5rem;
    width: 100%;
    background-color: wheat;
    border-radius: 0.5rem;
}
.bar-box h3,span{
    font-weight: 500;
    font-size: 1.1rem;
}
.percent{
    height: 0.5rem;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.5rem;
    background-color: var(--main-color);
    border-radius: 1rem;
}
.html {
    width: 94%;
}
.css{
    width: 84%;
}
.sql{
    width: 87%;
}
.python{
    width: 85%;
}
.services{
    padding-left: 10%;
    padding-right: 10%;
}
.services-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 2rem;
    background:color;
}
.services-box{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    align-items: center;
    box-shadow:0 2px 7px  rgb(14, 54,54);
    width: 260px;
    border-bottom: 5px solid var(--main-color);
}
.services-box:hover{
    background-color: #22225a;
}
.services-box a{
    font-size: var(--p-font);
    font-weight: 500;
    color:var(--main-color);
}
.services-box .bx{
    padding-top: 2rem;
    font-size: 54px;
    color:var(--main-color);
}
.services-box:hover h3{
    color: #fff;
}
.services-box:hover i{
    color: #22cf91;
}
.services-box:hover a{
    color:#8b8a8f;
}
.services-box h3{
    font-weight: 600;
    font-size: 1rem;
    margin: 0.7rem 0.04rem;
}
.portfolio{
    margin-top: 2rem;
    padding-left:10% ;
    padding-right: 10%;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    gap: 2rem;
    margin-top: 2rem;
}
.portfolio-img img{
    width:100%;
    border-radius: 1rem;
}
.portfolio-img img:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}
.contact{
    margin-top: 2rem;
    padding-left: 10%;
    padding-right: 10%;
}
.contact-form{
    display: grid;
    place-items: center;
    margin-top: 2rem;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.contact-form form input,textarea{
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background-color: hsla(260, 100%,44%, 0.1);
    resize: none;
}
.contact-form form input::placeholder,textarea::placeholder{
    color: var(--text-color);
}
.contact-form form .btn{
    width: 120px;
    align-self: center;
}
.footer{
    margin-top: 2rem;
    display: grid;
    place-items: center;
    padding: 20px;
    background-color: #ebebeb;
}
.footer h1{
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
}
.copyright{
    background-color: var(--main-color);
    padding: 20px;
    color: #fff;
    text-align: center;
}
.footer .footer-icons i{
    color: rgb(10,26,208);
    background-color: #fff;
    font-size: 25px;
    margin-left: 10px;
    border-radius: 50px;
    padding: 8px;
}
/* .footer{
    width: 100%;
    background-color: #5805ff;
} */